*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#5c5470;
    text-align: center;
}
.container{
    height:70vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius:5px;
    border: none;
    box-shadow: 8px 8px rgb(158, 147, 147);
    font-size: 8vmin;
    color: rgb(239, 39, 39);
    background-color: #ffffc7;
}
#rest-btn{
    padding: 1rem;
    font-size:1.24rem;
    background-color: rgb(215, 192, 192);
    color:rgb(19, 103, 220);
    border-radius: 15px;
    border: none;

}
#new-btn{
    padding: 1rem;
    font-size:1.24rem;
    background-color: rgb(228, 200, 200);
    color:rgb(101, 56, 234);
    border-radius: 15px;
    border: none;

}
#msg{
    color:white;
    font-size: 10vmin;

}
.msg-container{
    height:30vmin;
}
.hide{
    display: none;
}